.navbar a, .dropdown-btn {  
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: #000;  
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.navbar a.active {
  background-color: #07462f;
  color: white;
}

.navbar a:hover:not(.active) {
  background-color: rgb(90, 162, 96);
  color: white;
}

.navbar ul {
  border-right: 2px solid #ccc!important;
}

.navbar>ul>a {
  border-bottom: 1px solid #ccc!important;
}